@charset "utf-8";
/* CSS Document */

* {
	margin:0; padding:0;
	line-height:1.5;
	color:#000000;
}

body{
	background-color: #FFFFFF;
	font:120% "Meiryo UI"
}

.square_btn {
	width:170px;
	height:50px;
	padding: 0.5em; 
    font-weight: bold;
	margin: 2; 
}

.errmsg {
	color:#FF0000;
}

.menu {
	background-color: #000000;
	color:#FFFFFF;
	padding: 1em;
    font-weight: bold;
	margin: 2; 
}

.list_class {
	border:none;
	background-color: #FFFFFF;
	margin: 2; 
}

.th_class {
	border:none;
	background-color: #000000;
	color:#FFFFFF;
}

.th_center_class {
	border:none;
	background-color: #000000;
	color:#FFFFFF;
	text-align: center;
}

.td_class {
	border:none;
}

.td_center_class {
	border:none;
	text-align: center;
}
