{% extends "tukuyomi/base.html" %}

{% load static %}
{% block header %}
<script src="{% static 'js/tukuyomi/buyer_input.js' %}" ></script>
{% endblock %}

{% block body %}
<div class="title_class">
    購入者一覧<br/><br/>
</div>
    
<form method="post" action="{% url 'tukuyomi:buyer_list' %}">
    {% csrf_token %}
    
    <!-- ========== テーブル全体を表す div ========== -->
    <div style="width:550px; border-style:solid;border-width:0px;">
    <!-- ===== ヘッダ部(THEAD相当)を表す div ===== -->
        <div style="width:100%">
            <table class="list_class">
                <thead>
                    <tr>
                        <th class="th_center_class" style='width:400px'>購入者</th>
                        <th class="th_center_class" style='width:50px'>編集</th>
                        <th class="th_center_class" style='width:50px'>追加</th>
                        <th class="th_center_class" style='width:50px'>削除</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- ===== ボディー部(TBODY相当)を表す div ===== -->
        <div style="height:100%; width:100%;overflow-y:scroll;overflow-x:hidden;">
            <table class="list_class">
                <tbody>
                    {% ifequal form|length 0 %}
                    <tr class="tr_class" id="row{{menu.id}}">
                        <td class="td_class" style='width:400px'><td>
                        <td class="td_center_class" style='width:50px'><td>
                        <td class="td_center_class" style='width:50px'>
                            <a href="{% url 'tukuyomi:buyer_input' %}" >
                                <img src="{% static 'png/common/insert.png' %}"/>
                            </a>
                        <td>
                        <td class="td_center_class" style='width:50px'><td>
                    </tr>
                    {% else %}
                        {% for buyer in form %}
                        <tr id="row{{buyer.id}}">
                            <td class="td_class" style='width:400px'>{{buyer.buyerNm}}<td>
                            <td class="td_center_class" style='width:50px'>
                                <a href="{% url 'tukuyomi:buyer_input_modify' buyer.id 'm' %}" >
                                    <img src="{% static 'png/common/edit.png' %}"/>
                                </a>
                            <td>
                            <td class="td_center_class" style='width:50px'>
                                <a href="{% url 'tukuyomi:buyer_input' %}" >
                                    <img src="{% static 'png/common/insert.png' %}"/>
                                </a>
                            <td>
                            <td class="td_center_class" style='width:50px'>
                                <a href="{% url 'tukuyomi:buyer_input_modify' buyer.id 'd' %}" >
                                    <img src="{% static 'png/common/delete.png' %}"/>
                                </a>
                            <td>
                        </tr>
                        {% endfor %}
                    {% endifequal %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
