{% extends "susanowo/base.html" %}

{% block body %}
    <div id="header">
        インボックス
    </div>

    <div id="input">
        <table>
            <tbody>
                <tr>
                    <th>タイトル</th>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <th>内容</th>
                        <td><input type="text" /></td>
                </tr>
                <tr>
                    <td colspan=2>
                            <div class="checkbox-normal box">
                                <label>
                                    <input class="checkbox-normal-input" name="checkbox-normal[]" type="checkbox" />
                                    <span class="checkbox-normal-parts">行動を起こす必要があるか？</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                <tr>
                    <td colspan=2>
                        <div class="cp_ipradio">
                            <label>
                                <input type="radio" class="option-input radio" name="cpipr02" checked />
                                ネコ
                            </label>
                            <label>
                                <input type="radio" class="option-input radio" name="cpipr02" />
                                イヌ
                            </label>
                            <label>
                                <input type="radio" class="option-input radio" name="cpipr02" />
                                ウサギ
                            </label>
                            <label class="disabled">
                                <input type="radio" class="option-input radio" name="cpipr02" disabled/>
                                トリ
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div class="checkbox-normal box">
                            <label>
                                <input class="checkbox-normal-input" name="checkbox-normal[]" type="checkbox" />
                                <span class="checkbox-normal-parts">アクションは１つ？</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div class="checkbox-normal box">
                            <label>
                                <input class="checkbox-normal-input" name="checkbox-normal[]" type="checkbox" />
                                <span class="checkbox-normal-parts">２分以内で終わる？</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div class="checkbox-normal box">
                            <label>
                                <input class="checkbox-normal-input" name="checkbox-normal[]" type="checkbox" />
                                <span class="checkbox-normal-parts">自分でやるべき</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div class="checkbox-normal box">
                            <label>
                                <input class="checkbox-normal-input" name="checkbox-normal[]" type="checkbox" />
                                <span class="checkbox-normal-parts">特定の日にやるべき？</span>
                            </label>
                        </div>
                    </td>
                </tr>
            
                </tbody>
        </table>
    </div>

    <div id="controller">
        <ul class="">
            <li><a href="/susanowo/inbox/submit" class="square_btn">登録</a></li>
            <li><a href="/susanowo/index" class="square_btn">キャンセル</a></li>
        </ul>    
    </div>

{% endblock %}