{% extends "susanowo/base.html" %}

{% load static %}
{% block body %}
<script src="{% static 'js/susanowo/index.js' %}" ></script>
<form method="post" action="{% url 'susanowo:modstatus' %}" id="modstatus">
    {% csrf_token %}
    <input type="hidden" id="param_id" name="param_id" value="" />
    <input type="hidden" id="param_complete" name="param_complete" value="" />
    <input type="hidden" id="param_delete" name="param_delete" value="" />
</form>

    <div id="header" style="position: relative; top: 10px; left:400px; height:10px;">
        Getting Things Done
    </div>

    <div id="menu" style="position: relative; top: 50px; left:10px; width: 170px; height: 20px;">
        <ul class="menu_list">
            <li><a href="{% url 'susanowo:inbox' %}" class="square_btn">インボックス</a></li>
            <li><a href="" class="square_btn">いつかやるリスト</a></li>
            <li><a href="" class="square_btn">参考資料</a></li>
            <li><a href="" class="square_btn">ゴミ箱</a></li>
        </ul>
    </div>

    <div id="todo_list" style="position:absolute; top:50px; left:240px;">
        <div id="gtd_date" style="position: relative; top: 0px; left:0px; width: 200px;">
            {{today}}
        </div>

        <!-- ========== テーブル全体を表す div ========== -->
        <div style="width:1000px; border-style:solid;border-width:1px;">
        <!-- ===== ヘッダ部(THEAD相当)を表す div ===== -->
            <div style="width:100%">
                <table class="list_class">
                    <thead>
                        <tr>
                            <th class="th_class" style='width:50px'>完了</th>
                            <th class="th_class" style='width:150px'>アクション</th>
                            <th class="th_class" style='width:100px'>期限</th>
                            <th class="th_class" style='width:200px'>タイトル</th>
                            <th class="th_class" style='width:550px'>内容</th>
                            <th class="th_class" style='width:50px'>編集</th>
                            <th class="th_class" style='width:50px'>削除</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- ===== ボディー部(TBODY相当)を表す div ===== -->
            <div style="height:500px; width:100%;overflow-y:scroll;overflow-x:hidden;background:#BBBBBB">
                <table class="list_class">
                    <tbody>
                        {% for todo in ttodos %}
                        <tr id="row{{todo.id}}" class="normal_row">
                            <td class="checkbox_class" style='width:50px'><input id="completed_{{todo.id}}" class="checkbox_class" type="checkbox" onchange="updStatus({{todo.id}})" {{todo.isCompleted}} /></td>
                            <td style='width:150px'>{{todo.category_name}}<td>
                            <td class="date_class" style='width:100px'>{{todo.delivery_date|date:"Y/m/d"}}</td>
                            <td style='width:200px'>{{todo.title}}<td>
                            <td style='width:550px'>{{todo.discription}}<td>
                            <td style='width:50px'><a href="/susanowo/inbox?rownum={{todo.id}}" >編集</a><td>
                            <td style='width:50px'><a href="{% url 'susanowo:inbox' todo.id %}" >編集</a><td>
                            <td class="checkbox_class" style='width:50px'><input id="delete_{{todo.id}}" class="checkbox_class" type="checkbox" onchange="updStatus({{todo.id}})" {{todo.isDeleted}} /><td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            
    </div>
{% endblock %}