{% extends "susanowo/base.html" %}

{% block body %}
    <div id="header" style="position: relative; top: 10px; left:400px; height:10px;">
        Getting Things Done X Bullet Journal
    </div>

    <div id="menu" style="position: relative; top: 50px; left:10px; width: 170px; height: 20px;">
        <ul class="menu_list">
            <li><a href="/susanowo/inbox" class="square_btn">インボックス</a></li>
            <li><a href="" class="square_btn">いつかやるリスト</a></li>
            <li><a href="" class="square_btn">参考資料</a></li>
            <li><a href="" class="square_btn">ゴミ箱</a></li>
            <li><a href="" class="square_btn">プロジェクト</a></li>
            <li><a href="" class="square_btn">依頼リスト</a></li>
            <li><a href="" class="square_btn">次にとる行動</a></li>
        </ul>
    </div>

    <div id="todo_list" style="position:absolute; top:50px; left:240px;">
        <div id="gtd_date" style="position: relative; top: 0px; left:0px; width: 200px;">
            {{today}}
        </div>
            
        <table class="header_class">
            <tbody class="thead_class">
                <tr class="header_tr_class">
                    <th width="100">時刻</th>
                    <td width="750">やること<td>
                </tr>
            </tbody>
        </table>
        <table class="detail_class">
            <tbody class="tbody_class" style="height:600px;">
                <tr class="detail_tr_class" ><th width="100">09:00</th><td width="750">あああああ<td></tr>
                <tr><th>09:15</th><td>いいいいい<td></tr>
                <tr><th>09:30</th><td>ううううう<td></tr>
                <tr><th>09:45</th><td>えええええ<td></tr>
            </tbody>
        </table>
    </div>
{% endblock %}