@charset "Shift_JIS";

/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#CC66CC;		/*文字色*/

}
body {
	background-color:#333333;	/*ページ全体の背景色*/
	font:120% "Meiryo UI"
}

.menu li {
}

ul.menu_list { 
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
}

li.menu_list{ 
	display: inline; 
}

li.title_list {
	display: list-item;  /* 縦に並べる */
	list-style-type: none;
	text-transform: uppercase;
	border: 0px solid;
	padding: 0.5em; 
	margin: 0; 
}

.square_btn{
    display: inline-block;
    width:150px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #CC33CC;/*左線*/
    color: #993399;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
.square_btn:hover{
	/*border-left: 6px solid #474655;
	border-top: 0px solid #474655;
	border-right: 0px solid #474655;
	border-bottom: 0px solid #474655;*/
	background-color: #EEDDEE;
}

#todo_list {
    background: #f7f7f7;
}
thead_class, .tbody_class {
    display: block;
}
.tbody_class {
    overflow-y: scroll;
    height: 150px;
}
