@charset "utf-8";
/* CSS Document */

* {
	margin:0; padding:0;
	line-height:1.5;
}

body{
	font:120% "Meiryo UI";
}

a.menu_class {
	color:#ffffff;
	text-decoration:none;
}

a:visited.menu_class {
	color:#ffffff;
	text-decoration:none;
}

a:hover.menu_class {
	color:#ffffff;
	text-decoration:none;
}

a:active.menu_class {
	color:#ffffff;
	text-decoration:none;
}

.square_btn {
	width:170px;
	height:50px;
	padding: 0.5em; 
    font-weight: bold;
	margin: 2; 
}

.errmsg {
	color:#FF0000;
}

.errorlist {
	color:#FF0000;
}

.title_class {
	font-size: 20px;
	font-weight: bold;
}

.menu {
	background-color: #ffffff;
	color:#ffbb00;
	padding: 1em;
    font-weight: bold;
	margin: 2; 
}

.list_class {
	border-collapse: collapse;
}

.cell_class {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
}

.input_class {
	width: 800px;
}

.tr_class {
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffbb00;
	height: 50px;
}

.th_header {
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}

.th_class {
	background-color: #ffbb00;
	color:#ffffff;
	padding-left: 2px;
}

.th_center_class {
	background-color: #ffbb00;
	color:#ffffff;
	text-align: center;
}

.th_right_class {
	background-color: #ffbb00;
	color:#ffffff;
	text-align: right;
	padding-right: 2px;
}

.td_class {
	border-color: #ffbb00;
	background-color: #ffffff;
	color:#ffbb00;
	padding-left: 2px;
	padding-right: 2px;
}

.td_center_class {
	border-color: #ffbb00;
	background-color: #ffffff;
	text-align: center;
	color:#ffbb00;
}

.td_right_class {
	border-color: #ffbb00;
	background-color: #ffffff;
	text-align: right;
	color:#ffbb00;
	padding-right: 2px;
}

.td_left_class {
	border-color: #ffbb00;
	background-color: #ffffff;
	text-align: left;
	color:#ffbb00;
	padding-right: 2px;
}

.main_body {
	background-color: #ffffff;
	color:#ffbb00;
	vertical-align:top;
	padding: 1em;
	margin: 2; 
}

a.normal_class {
	color:#ff0000;
	text-decoration:none;
    font-weight: bold;
}

a:visited.normal_class {
	color:#ff0000;
	text-decoration:none;
    font-weight: bold;
}

a:hover.normal_class {
	color:#ff0000;
	text-decoration:none;
    font-weight: bold;
}

a:active.normal_class {
	color:#ff0000;
	text-decoration:none;
    font-weight: bold;
}

list_table_class {
	border-left:10px solid #ffffff;
	border-right:10px solid #ffffff;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	background-color: #ffbb00;
	color: #ffffff;
	margin: 10px; 
}

site_table_class {
	border-left:10px solid #ffffff;
	border-right:10px solid #ffffff;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	color: #ffbb00;
	margin: 10px; 
}

detail_row_class {
	border-bottom:10px solid #ffbb00;
	margin: 10px; 
	text-align: left;
}

/* サイト情報入力 */
input#place_name {
	width: 700px;
}
input#id_login_user_id {
	width: 700px;
}
input#id_login_user_pw {
	width: 700px;
}
input#id_re_login_user_pw {
	width: 700px;
}
input#id_site_url {
	width: 700px;
}

/* オリジナル */
#id_recipe_name {
	width: 100%
}
#id_url {
	width: 100%
}

.item_name_class {
	width: 450px;
}

.item_amt_class {
	width: 100px;
	text-align: right;
}

.recipe_name_class {
	width: 300px;
	font:100% "Meiryo UI";
}

.number_of_people_class {
	width: 100px;
	text-align: right;
}

.black_line {
	border-style: solid; 
	border-width: 3px; 
	border-color: black;
}