@charset "utf-8";
/* CSS Document */

* {
	margin:0; padding:0;
	line-height:1.5;
	color:#CC66CC;
}

body{
	background-color: #CCCCCC;
	font:120% "Meiryo UI"
}

.menu{
}

.menu_list{
	margin: 0; 
	padding: 0; 
    list-style-type: none;
    display: inline;
}

ul.menu_list { 
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
}

li.title_list {
	display: list-item;
	list-style-type: none;
	text-transform: uppercase;
	border: 0px solid;
	padding: 0.5em; 
	margin: 0; 
}

.square_btn{
    display: inline-block;
    width:170px;
	padding: 0.5em; 
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #CC33CC;
    color: #993399;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);

	margin: 2; 
	list-style-type: none;
	text-transform: uppercase;
}
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
.square_btn:hover{
	/*border-left: 6px solid #474655;
	border-top: 0px solid #474655;
	border-right: 0px solid #474655;
	border-bottom: 0px solid #474655;*/
	background-color: #EEDDEE;
}

.square_btn_small{
    display: inline-block;
    width:45px;
	padding: 0.0em; 
    text-decoration: none;
    background: #f7f7f7;
    color: #993399;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);

	margin: 0; 
	list-style-type: none;
	text-transform: uppercase;
}
.square_btn_small:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
.square_btn_small:hover{
	background-color: #EEDDEE;
}

.list_header_class {
	width:100%;
}

.list_body_class {
	width:100%;
	overflow-y:scroll;
	overflow-x:hidden;
	background:#BBBBBB
}

table.list_class {
	border:0px solid #CC66CC;
	border-collapse:collapse;
	table-layout:fixed;
	text-align: center;
}

table.list_class td{
	border:1px solid #CC66CC;
}

table.list_class th{
	border:1px solid #CC66CC;
	vertical-align:middle;
	background-color:#CC66CC;
	color:#f7f7f7;
}

table.simple_class td{
	border:1px solid #CC66CC;
}

table.simple_class th{
	border:1px solid #f7f7f7;
	vertical-align:top;
	text-align:right;
	background-color:#CC66CC;
	color:#f7f7f7;
}

/*table.list_class tr:nth-child(odd)  td{
	background-color:#f7f7f7;
}
table.list_class tr:nth-child(even	) td{
	background-color:#f7f7f7;
}*/

.th_class {
	text-align: center
}

.checkbox_class {
	text-align: center
}

.date_class {
	text-align: center
}

.normal_row {
	border:1px solid #CC66CC;
	background-color:#f7f7f7;
	color:#CC66CC;
}

.completed_row {
	border:1px solid #f7f7f7;
	background-color:#990099;
	color:#f7f7f7;
}

.deleted_row {
	border:1px solid #CC66CC;
	background-color:#666666;
	color:#f7f7f7;
}