{% extends "sarutahiko/base.html" %}

{% load static %}
{% block header %}
<!-- <script src="{% static 'js/sarutahiko/menu.js' %}" ></script> -->
<script src="{% static 'js/sarutahiko/search_asta.js' %}" ></script>
<script src="{% static 'js/sarutahiko/item.js' %}" ></script>
{% endblock %}

{% block body %}
<form method="POST" form="item" action="{% url 'sarutahiko:item' %}" id="item">
    {% csrf_token %}
    {{ form.management_form }}
    {{ form.as_p }}
    <hr/>
    <button type="submit" style="width:100px; height:50px">登録</button>
</form>
<br/>
{% endblock %}
