{% extends "sarutahiko/base.html" %}

{% load static %}
{% block header %}
<script src="{% static 'js/sarutahiko/menu.js' %}" ></script>
{% endblock %}

{% block body %}
    <form method="POST" form="recipe" action="{% url 'sarutahiko:recipe' %}">
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.as_p }}
        <hr/>
        {{ formset.management_form }}
        <!-- <table style="width:250px;">
            <tbody>
                <tr class="tr_class">
                    <th class="th_center_class" style="padding-top:10px;width:200px;">材料</tH>
                    <th class="th_center_class" style="padding-top:10px;width:50px;">数量</tH>
                </tr>    
            </tbody>
        </table> -->
        <dev id="detail_body_class">
        {% for item in formset %}
            {{item.as_p}}
        <hr/>
        {% endfor %}
        </dev>
        <!-- <table style="width:250px;">
            <tbody>
                {% for item in formset %}
                {{item.item_name}}{{item.item_amt}}
                <tr>
                    <td style="padding-top:10px;width:200px;" class="td_left_class">{{item.item_name}}</td>
                    <td style="padding-top:10px;width:50px;" class="td_left_class">{{item.item_amt}}</td>
                </tr>
                <dev id="detail_body_class">
                </dev>
                {% endfor %}
            </tbody>
        </table> -->
        <br/>
        <button type="submit" style="width:100px; height:50px">登録</button>
        <button type="button" id="add" style="width:100px; height:50px">追加</button>
    </form>
    <script>
        $(function(){
            var totalManageElement = $('input#id_form-TOTAL_FORMS');
            var currentFileCount = parseInt(totalManageElement.val());
            $('button#add').on('click', function(){
                var itemNameLabelElement = $('<label>', {
                    for: 'id_form-' + currentFileCount + '-item_name',
                    value: '材料:'
                });
                var itemAmtLabelElement = $('<label>', {
                    for: 'id_form-' + currentFileCount + '-item_amt',
                    value: '数量:'
                });
                var itemNameElement = $('<input>', {
                    type: 'text',
                    name: 'form-' + currentFileCount + '-item_name',
                    id: 'id_form_set-' + currentFileCount + '-item_name',
                    class: 'item_name_class',
                });
                var itemAmtElement = $('<input>', {
                    type: 'text',
                    name: 'form-' + currentFileCount + '-item_amt',
                    id: 'id_form_set-' + currentFileCount + '-item_amt',
                    class: 'item_amt_class',
                    value: '0'
                });
                // $('dev#detail_body_class').append('<tr>');
                // $('dev#detail_body_class').append('<td style="padding-top:10px;width:200px;" class="td_left_class">');
                $('dev#detail_body_class').append($('<p>'));
                $('dev#detail_body_class').append('材料: ');
                $('dev#detail_body_class').append(itemNameElement);
                $('dev#detail_body_class').append($('</p>'));
                // $('dev#detail_body_class').append('</td>');
                // $('dev#detail_body_class').append('<td style="padding-top:10px;width:50px;" class="td_left_class">');
                $('dev#detail_body_class').append($('<p>'));
                $('dev#detail_body_class').append('数量: ');
                $('dev#detail_body_class').append(itemAmtElement);
                $('dev#detail_body_class').append($('</p>'));
                // $('dev#detail_body_class').append('</td>');
                // $('dev#detail_body_class').append('</tr>');
                // $('dev#detail_body_class').append('<br/>');
                $('dev#detail_body_class').append('<hr/>');
                currentFileCount += 1;
                totalManageElement.attr('value', currentFileCount);
            });
        });
    </script>
{% endblock %}
