{% extends "sarutahiko/base.html" %}

{% load static %}
{% block header %}
<!-- <script src="{% static 'js/sarutahiko/menu.js' %}" ></script> -->
<script src="{% static 'js/sarutahiko/search_asta.js' %}" ></script>
<script src="{% static 'js/sarutahiko/recipe.js' %}" ></script>
{% endblock %}

{% block body %}
    <form method="POST" form="recipe" action="{% url 'sarutahiko:recipe' %}" id="recipe">
        {% csrf_token %}
        {{ form.management_form }}
        {{ form.as_p }}
        <input type="hidden" id="recipe_id" name="recipe_id" value="" />
        <hr/>
        {{ formset.management_form }}
        <dev id="detail_body_class">
        {% for item in formset %}
            {{item.as_p}}
        <hr/>
        {% endfor %}
        </dev>
        <br/>
        <button type="submit" style="width:100px; height:50px">登録</button>
        <button type="button" id="add" style="width:100px; height:50px">追加</button>
    </form>
    <script>
        $(function(){
            var totalManageElement = $('input#id_form-TOTAL_FORMS');
            var currentFileCount = parseInt(totalManageElement.val());
            $('button#add').on('click', function(){
                var itemNameLabelElement = $('<label>', {
                    for: 'id_form-' + currentFileCount + '-item_name',
                    value: '材料:'
                });
                var itemNameElement = $('<input>', {
                    type: 'text',
                    name: 'form-' + currentFileCount + '-item_name',
                    id: 'id_form-' + currentFileCount + '-item_name',
                    class: 'item_name_class',
                });
                var itemAmtLabelElement = $('<label>', {
                    for: 'id_form-' + currentFileCount + '-item_amt',
                    value: '数量:'
                });
                var itemAmtElement = $('<input>', {
                    type: 'text',
                    name: 'form-' + currentFileCount + '-item_amt',
                    id: 'id_form-' + currentFileCount + '-item_amt',
                    class: 'item_amt_class',
                    value: '0'
                });
                var idElement = $('<input>', {
                    type: 'hidden',
                    name: 'form-' + currentFileCount + '-id',
                    id: 'id_form-' + currentFileCount + '-id',
                });
                var recipeIdElement = $('<input>', {
                    type: 'hidden',
                    name: 'form-' + currentFileCount + '-recipe_id',
                    id: 'id_form-' + currentFileCount + '-recipe_id',
                });
                var itemIdElement = $('<input>', {
                    type: 'hidden',
                    name: 'form-' + currentFileCount + '-item_id',
                    id: 'id_form-' + currentFileCount + '-item_id',
                });
                var rowElement = $('<input>', {
                    type: 'hidden',
                    name: 'form-' + currentFileCount + '-row',
                    id: 'id_form-' + currentFileCount + '-row',
                });
                $('dev#detail_body_class').append($('<div id="row' + currentFileCount + '">'));
                $('dev#detail_body_class').append($('<p>'));
                $('dev#detail_body_class').append('<label for="id_form-' + currentFileCount + '-item_name">材料:</label>');
                $('dev#detail_body_class').append(itemNameElement);
                $('dev#detail_body_class').append($('</p>'));
                $('dev#detail_body_class').append($('<p>'));
                $('dev#detail_body_class').append('<label for="id_form-' + currentFileCount + '-item_amt">数量:</label>');
                $('dev#detail_body_class').append(itemAmtElement);
                $('dev#detail_body_class').append(idElement);
                $('dev#detail_body_class').append(recipeIdElement);
                $('dev#detail_body_class').append(itemIdElement);
                $('dev#detail_body_class').append(rowElement);
                $('dev#detail_body_class').append($('</p>'));
                $('dev#detail_body_class').append($('</div>'));
                $('dev#detail_body_class').append($('<hr/>'));

                // 材料のオートコンプリートを動的に追加
                var s = document.createElement("script");
                s.innerHTML = "autocompleteGetItemData('#recipe_id','#id_form-" + currentFileCount + "-item_name','/sarutahiko/item_list/',displayDataItemName," + currentFileCount + ");";
                var ele = document.getElementById("row" + currentFileCount);
                ele.appendChild(s);

                currentFileCount += 1;
                totalManageElement.attr('value', currentFileCount);
            });
        });

    </script>
{% endblock %}
