{% load static %}
<!DOCTYPE himl>
<html>
    <head lang='ja'>
    <meta charset='UTF-8'>
    <title>
        在庫管理
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <LINK rel="shortcut icon" href="{% static 'icon/amenouzume.ico' %}">
    <link rel="stylesheet" href="{% static 'css/amenouzume/amenouzume.css' %}" >
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" >
    <script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script src="{% static 'js/jquery-ui.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/common.js' %}" ></script>
    {% block header %}
    {% endblock %}
</head>
<body>
    {{message}}
    <table style="width:100%;height:100%;">
        <tbody>
            <tr>
                <th style="width:250px;height:25px;text-align:center;" class="menu" colspan="2">
                    <img src="{% static 'png/amenouzume/amenouzume_title.png' %}"/><br/>
                    <a class="menu_class" style="color:#39437a; background-color: #ffffff;" href="{% url 'amenouzume:menu' %}" >
                    <h4>
                        在庫管理システム
                    </h4>
                    </a>
                </th>
                <td style="text-align:right; width:auto;height:20px" class="menu">
                    {{user_id}}({{user_name}})<br/><br/>
                    <a class="menu_class" style="color:#39437a;" href="/amenouzume/">ログアウト</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; width:100px;height:1px" class="menu">
                </td>
                <td style="text-align:right; width:100px;height:1px" class="menu">
                </td>
                <td style="text-align:right; height:1px" class="menu">
                </td>
            </tr>
            <tr>
                <td style="text-align:right; width:200px;height:25px" class="menu th_center_class">
                    <a class="menu_class" href="{% url 'amenouzume:place' %}" >
                        場所マスタ登録
                    </a>
                </td>
                <td class="main_body" colspan="2" rowspan="6">
                    {% block body %}
                    {% endblock %}
                </td>
            </tr>
            <tr>
                <td style="text-align:right; width:200px;height:25px" class="menu th_center_class">
                    <a class="menu_class" href="{% url 'amenouzume:item' %}" >
                        品目マスタ登録
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; width:200px;height:25px" class="menu th_center_class">
                    <a class="menu_class" href="{% url 'amenouzume:place_item' %}" >
                        在庫品目マスタ登録
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; width:200px;height:25px" class="menu th_center_class">
                    <a class="menu_class" href="{% url 'amenouzume:stock_data' %}" >
                        在庫データ作成
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; width:200px;height:25px" class="menu th_center_class">
                    <a class="menu_class" href="{% url 'amenouzume:stock_data_history' %}" >
                        在庫データ履歴参照
                    </a>
                </td>
            </tr>
            <tr>
                <td class="menu th_center_class"></td>
            </tr>
        </tbody>
    </table>
    <br/>
    {% if form.non_field_errors %}
    <br/>
    <div class="errmsg">
        <ul>
        {% for non_field_error in form.non_field_errors %}
        <li class="errmsg">{{ non_field_error }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br/>

</body>
</html>