{% extends "amenouzume/base.html" %}

{% load static %}
{% block header %}
<script src="{% static 'js/amenouzume/place_input.js' %}" ></script>
{% endblock %}

{% block body %}
<div class="title_class">
    品目マスタ登録<br/><br/>
</div>
{% ifequal shori '' %}
    <form method="post" action="{% url 'amenouzume:place_input' %}">
{% else %}
    <form method="post" action="{% url 'amenouzume:place_input_modify' id shori %}">
{% endifequal %}

    {% csrf_token %}
    {% ifequal shori '' %}
    在庫場所登録
    <table class="simple_class">
        <tr>
            <th style="width:100px" class="th_right_class th_header">{{form.place_name.label}}</th>
            <td style="width:500px" class="td_class">{{form.place_name}}{{form.place_name.errors.0}}</td>
        </tr>
    </table>
    {% endifequal %}

    {% ifequal shori 'm' %}
    在庫場所登録
    <table class="simple_class">
        <tr>
            <th style="width:100px" class="th_right_class th_header">{{form.place_name.label}}</th>
            <td style="width:200px" class="td_class">{{form.place_name}}{{form.place_name.errors.0}}</td>
        </tr>
    </table>
    {% endifequal %}

    {% ifequal shori 'd' %}
    在庫場所削除
    <table class="simple_class">
        <tr>
            <th style="width:100px" class="th_right_class th_header">{{form.place_name.label}}</th>
            <td style="width:500px" class="td_class">{{form.place_name}}{{form.place_name.errors.0}}</td>
        </tr>
    </table>
    {% endifequal %}

    {% if form.non_field_errors %}
    <br/>
    <div class="errmsg">
        <ul>
        {% for non_field_error in form.non_field_errors %}
        <li class="errmsg">{{ non_field_error }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br/>
    <table id="controller">
        <tr>
            {% ifequal shori 'd' %}
                <td style="text-align:center;"><input type="submit" value="削除" class="square_btn" /></td>
            {% else %}
                <td style="text-align:center;"><input type="submit" value="登録" class="square_btn" /></td>
            {% endifequal %}
            <td style="text-align:center;"><input type="button" id="btn_cancel" value="キャンセル" class="square_btn" /></td>
        </tr>    
    </table>

{% endblock %}
