{% extends "amenouzume/base.html" %}

{% load static %}
{% block header %}
<script src="{% static 'js/amenouzume/menu.js' %}" ></script>
{% endblock %}

{% block body %}
<div class="title_class">
    在庫データ作成<br/><br/>
</div>

<div class="accordion">
    {% for place in stock_data %}
    <div class="place-header" id="heading{{place.place_id}}">
        <h2 class="mb-0">
            <input type="checkbox" name="is_place" value="place.id" />
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{place.place_id}}" aria-expanded="true" aria-controls="collapse{{place.place_id}}">{{place.place_name}}</button>
        </h2>
    </div>

    <div id="collapse{{place.place_id}}" class="collapse show" aria-labelledby="heading{{place.place_id}}" data-parent="#accordionExample">
        <div class="item-body">
            <ul>
                {% for item in place.item %}
                <li>{{item.item_name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
