{% extends "amenouzume/base.html" %}

{% load static %}
{% block header %}
<script src="{% static 'js/amenouzume/menu.js' %}" ></script>
{% endblock %}

{% block body %}
<div class="title_class">
    在庫データ作成<br/><br/>
</div>

<form method="post" action="{% url 'amenouzume:stock_data' %}">
{% csrf_token %}

<div class="accordion" id="accordionExample">
    {% for place in stock_data %}
    <div class="card">
        <div class="card-header" id="heading{{place.place_id}}">
            <h2 class="mb-0">
                <button class="btn btn-link" style="text-align: left;" type="button" data-toggle="collapse" data-target="#collapse{{place.place_id}}" aria-expanded="true" aria-controls="collapse{{place.place_id}}">
                    <input type="checkbox" name="is_selected" value="{{place.place_id}}" {% if place.is_inserted %} disabled {% endif %}/>
                    {{place.place_name}}
                    {% if place.is_inserted %}  
                        <div class="errmsg">　＊　既に在庫データを登録しています。</div>
                    {% endif %}
                </button>
            </h2>
        </div>
        <div id="collapse{{place.place_id}}" class="collapse" aria-labelledby="heading{{place.place_id}}" data-parent="#accordionExample">
            {% for item in place.item %}
            <div class="card-body">
                {{item.item_name}}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<br/>
<table id="controller">
    <tr>
        <td style="text-align:center;"><input type="submit" value="登録" class="square_btn" /></td>
    </tr>    
</table>

{% endblock %}
</form>
